{{!< default}}
<header class="main-header">
    <h1> Josenberg <h1>
    <h2> Um pacato desenvolvedor. </h2>
</header>

<main id="content" class="content" role="main">
    <h2 class="post-title-category"> > Artigos </h2>
    {{> "loop"}}
</main>